blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
Flask==2.3.2
gTTS==2.3.2
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
listify==2020.12.3
mac-say==2020.12.3
MarkupSafe==2.1.3
psutil==5.9.5
pydub==0.25.1
requests==2.31.0
runcmd==2020.12.3
urllib3==2.0.4
values==2020.12.3
Werkzeug==2.3.6
zipp==3.16.2
